{% extends "layouts/baseforhomepage.html" %}

{% block title %}PoseCheck{% endblock %}

{% block content %}
    {% for e in exercise %}
    <a href="{% url 'PoseCheck:description' slug=e.slug %}" class="group flex flex-col items-center">
        <div class="card w-40 h-60 md:w-52 md:h-72 lg:w-60 lg:h-80 bg-base-100 shadow-xl image-full group-hover:scale-110 group-hover:duration-500">
            <figure>
                {% if e.image %}
                <img src="{{ e.image.url }}" alt="{{ e.title }}" />
                {% else %}
                <img src="#" alt="No Image Available" />
                {% endif %}
            </figure>
        </div>
        <div class="pt-5 text-md font-medium sm:text-xl md:text-lg">
            {{ e.title }}
        </div>
    </a>    
    {% endfor %}
{% endblock %}
