{% extends "layouts/baseforlanding.html" %}

{% block title %}final project{% endblock %}

{% block content %}
<div class="bg-blue-300 flex flex-col-reverse justify-center items-center pt-10 md:pt-20 pb-20 lg:pb-40 lg:flex-row-reverse">
  <div class="grid rounded-box justify-center px-10">
      <img src="https://img.freepik.com/free-vector/online-trainer-client-doing-cardio_23-2148541245.jpg?t=st=1731649308~exp=1731652908~hmac=0a1fa9af125666ead3191a3ac0cbc0b3456e13538e9ef959f2ac51fcc54f2a91&w=1380" alt="React Image" class="rounded-lg object-cover shadow-2xl h-80 w-100" />
  </div>
  <div class="pe-10 py-5 max-w-screen self-center px-10">
      <h1 class="text-2xl font-bold text-slate-700 md:text-4xl">
          Exercise web application for beginners
      </h1>
      <p class="py-6 max-w-lg text-slate-700 md:text-lg">
        Enhance your practice, boost your motivation, and ensure the correctness of your exercises with our beginner home exercise web application.
      </p>
      <div class="flex">
          <div class="btn bg-yellow-300 hover:bg-yellow-400 text-sm me-5 text-slate-700">
              <a href="{% url 'PoseCheck:index' %}">Get Started</a>
          </div>
          <a class="me-2 self-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M12 0C5.376 0 0 5.376 0 12C0 18.624 5.376 24 12 24C18.624 24 24 18.624 24 12C24 5.376 18.624 0 12 0ZM15.192 14.076L13.656 14.964L12.12 15.852C10.14 16.992 8.52 16.056 8.52 13.776V12V10.224C8.52 7.932 10.14 7.008 12.12 8.148L13.656 9.036L15.192 9.924C17.172 11.064 17.172 12.936 15.192 14.076Z" fill="#424242" />
              </svg>
          </a>
          <a class="video__link self-center text-slate-700 text-sm md:text-lg" onclick="openYouTubeVideo()">Watch video tutorial</a>
      </div>
  </div>
</div>



    <div class="bg-gray-100">
        <p class="font-semibold text-center py-10 text-2xl">Our Features</p>
        <div class="justify-center flex-col lg:space-y-10">
          <div class="flex flex-col w-full lg:flex-row justify-center ">
            <div class="grid rounded-box justify-center lg:justify-end px-10">
              <img
                src="https://img.freepik.com/free-vector/group-people-displaying-various-kinds-cameras_53876-43141.jpg?t=st=1731649512~exp=1731653112~hmac=5ac690ee144c45cd3b6cd562b86db68743a5e7163c20b10781d4eec50e3de1af&w=1380"
                alt="React Image"
                class="rounded-lg object-cover h-80 w-100"
              />
            </div>
            <div class="ps-10 py-5 max-w-md self-center">
              <p class=" text-blue-300 text-xl font-semibold capitalize pb-3">
                detect exercise postures
              </p>
              <p class="text-md text-base-content">
                Exercise with only using just one camera! Our advanced
                Python-trained model provides precise posture detection and
                feedback, ensuring effective workouts.
              </p>
            </div>
          </div>
  
          <div class="flex flex-col w-full lg:flex-row-reverse justify-center ">
            <div class="grid rounded-box justify-center lg:justify-end px-10">
              <img
                src="https://img.freepik.com/free-vector/woman-practicing-exercise-house-vector-illustration-design_24877-62755.jpg?t=st=1731649558~exp=1731653158~hmac=8a1e5e5c030163ac53350c8d8771db753434f0064dd800c2c248d941de9bd46e&w=826"
                alt="React Image"
                class="rounded-lg object-cover h-60 w-100"
              />
            </div>
            <div class="ps-10 py-5 max-w-md self-center">
              <p class=" text-blue-300 text-xl font-semibold capitalize pb-3">
                exercises for beginners
              </p>
              <p class="text-md text-base-content">
                Explore various beginner-friendly workout poses catered for newcomers! Rest assured, all poses are carefully selected to suit those new to exercise who are eager to start their fitness journey.
              </p>
            </div>
          </div>
  
          <div class="flex flex-col w-full lg:flex-row justify-center ">
            <div class="grid rounded-box justify-center lg:justify-end px-10">
              <img
                src="https://img.freepik.com/vector-gratis/personas-dispositivos-digitales-espacio-copia_53876-64640.jpg?t=st=1731649740~exp=1731653340~hmac=9ac12dcda2d4cb988388fa530e03f0258b927da15a71e2c2694b85c3063ed11e&w=1380"
                alt="React Image"
                class="rounded-lg object-cover h-60 w-100"
              />
            </div>
            <div class="ps-10 py-5 max-w-md self-center">
              <p class=" text-blue-300 text-xl font-semibold capitalize pb-3">
                access on any device
              </p>
              <p class="text-md text-base-content">
                Access our website seamlessly on mobile phones, tablets, and computers, without the need for additional app downloads.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-gray-100">
        <p class="font-semibold text-center py-10 text-2xl ">Why PoseCheck</p>
        <div class="flex flex-col justify-center gap-12 mx-auto lg:flex-row lg:w-full lg:justify-start">
          <div class="flex flex-col justify-center gap-12 mx-auto lg:flex-row lg:justify-center">
            <div class="card w-72 h-100 bg-base-100 shadow-md mx-auto lg:mx-0">
                <figure>
                    <img src="https://img.freepik.com/free-vector/dance-fitness-home-illustrated_52683-58147.jpg?t=st=1731649788~exp=1731653388~hmac=4484e3cf9bda41047c7a3d561567ae5512136820ee4c658d5d8d46d71958305f&w=1380" alt="#">
                </figure>
                <div class="card-body items-center text-center">
                    <h2 class="card-title text-blue-300">Beginner</h2>
                    <p class="text-sm">
                        Perfect for beginners who are just starting their fitness journey
                        and have little to no prior exercise experience.
                    </p>
                </div>
            </div>
        
            <div class="card w-72 h-100 bg-base-100 shadow-md mx-auto lg:mx-0">
                <figure>
                    <img src="https://img.freepik.com/free-vector/home-interior-background-video-conferencing_23-2148658838.jpg?t=st=1731649866~exp=1731653466~hmac=46253d90380287cbc80b1802c7d35a37aeade93689cccda512bc14c5fbce05d9&w=1380" alt="#">
                </figure>
                <div class="card-body items-center text-center">
                    <h2 class="card-title text-blue-300">Home workout</h2>
                    <p class="text-sm">
                        You can easily exercise at home without spending a fortune on
                        expensive gyms. Achieve a fit body and good health without
                        spending a dime.
                    </p>
                </div>
            </div>
        
            <div class="card w-72 h-100 bg-base-100 shadow-md mx-auto lg:mx-0">
                <figure>
                    <img src="https://img.freepik.com/free-vector/hand-drawn-time-management-concept_52683-55190.jpg?t=st=1731649929~exp=1731653529~hmac=0766e53a7812d2d56842d94a88b09c6e24d8239c9402361863d8c5f161215a64&w=1380" alt="#">
                </figure>
                <div class="card-body items-center text-center">
                    <h2 class="card-title text-blue-300">No time to workout</h2>
                    <p class="text-sm">
                        No matter how busy you are, you can still exercise! Just spend
                        around 30-45 minutes each day, and you will be able to take care
                        of your health and fitness.
                    </p>
                </div>
            </div>
        </div>
        
        </div>
        
      </div>
      
      </div>

      <div class=" flex place-content-center bg-gray-100">
        <div class="btn bg-yellow-300 hover:bg-yellow-400 text-sm my-10">
          <a href="{% url 'PoseCheck:index' %}">Get Started</a>
        </div>
      </div>

      
      <script>
        function openYouTubeVideo() {
            var videoId = "I3dezFzsNss";            
            var embedUrl = "https://www.youtube.com/embed/" + videoId + "?autoplay=1";    
            // Calculate the center position for the popup window
            var screenWidth = window.screen.width;
            var screenHeight = window.screen.height;
            var popupWidth = 800;
            var popupHeight = 600;
            var left = (screenWidth - popupWidth) / 2;
            var top = (screenHeight - popupHeight) / 2;
    
            // Create a modal or a popup window to display the video
            var popupWindow = window.open(embedUrl, "_blank", "width=800,height=600,left=" + left + ",top=" + top);
        }
    </script>
    

{% endblock %}